---
layout: base.njk
title: Jumoo ChangeLog
search: true
---
<ul id="entries">
{% for entry in collections.recentEntries %}
  {% set entryDate = entry.date | readableDate %}
  {% if loop.first or entryDate != (collections.recentEntries[loop.index0 - 1].date | readableDate) %}
  <li class="date-heading">{{ entryDate }}</li>
  {% endif %}
  <li class="entry" data-title="{{ entry.data.title | lower }}" data-body="{{ entry.templateContent | striptags | lower }}">
    <a href="{{ entry.url | url }}">{{ entry.data.title }}</a>
  </li>
{% endfor %}
</ul>
<p class="browse-archive"><a href="{{ '/archive/' | url }}">browse archive &rarr;</a></p>
